<div class="login">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="row">
                <form method="POST" action="/auth/password">
                    <h2 class="center-align">Восстановить пароль</h2>
                    <p class="center-align auth-error">{{error}}</p>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate" required
                                autocomplete="off">
                            <label for="password">Введите новый пароль</label>
                            <span class="helper-text" data-error="Введите пароль"></span>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" name="token" value="{{token}}">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>